:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
 
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-weight: 400;
  overflow-x: hidden;
}

body {
  max-width: 2340px;
  margin: auto;
  background-color: #f6fafd;
  overflow-x: hidden;
}

h3 {
  font-family: Helvetica;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  color: #212353;
}

h5 {
  font-family: Avenir;
  font-size: 1rem;
  font-weight: 900;
  line-height: 25.6px;
  text-align: left;
  color: #212353;
  margin-bottom: 2.1rem;
}

.text {
  font-family: Avenir;
  font-size: 18px;
  font-weight: 500;
  line-height: 28.8px;
  color: #4b5d68;
}

.btn {
  border: none;
  padding: 1rem 2.2rem;
  border-radius: 25px;
  cursor: pointer;
  transition: all 700ms;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

/* Header */

header {
  margin-top: 2rem !important;
  display: flex;
  align-items: center;
  gap: 8rem;
}

nav {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  align-items: center;
  font-family: Avenir;
  gap: 3.5rem;
}

a {
  text-decoration: none;
  font-family: Avenir;
  font-size: 1rem;
  font-weight: 500;
  line-height: 25.6px;
  text-align: left;
  color: #4b5d68;
  transition: all 700ms;
}
a:hover {
  color: #212353;
  text-decoration: underline;
}
a.active {
  color: #212353;
  font-weight: 800;
  text-decoration: none;
}

.header-btn,.footer-btn2 {
  background-color: #ffffff;
  font-weight: 600;
  line-height: 25.6px;
  letter-spacing: 0.005em;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  box-shadow: 0px 5px 5px 0px #4b5d681a;
}
.header-btn:hover,.footer-btn2:hover {
  box-shadow: 0px 10px 10px 0px #21235328;
  scale: 0.95;
}

/* Hero section */

.hero {
  margin-top: 8.1rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  position: relative;
}

.hero h1 {
  font-family: Helvetica;
  font-size: 80px;
  font-weight: 700;
  line-height: 88px;
  text-align: left;
}

.hero div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.2rem;
}

.hero p {
  max-width: 380px;
}

.hero button {
  color: #f6fafd;
  background-color: #9c69e2;
}

.hero button:hover {
  background-color: #6e45a8;
}

.hero img {
  position: absolute;
  bottom: -7rem;
  right: -8rem;
  width: 75%;
}

/* Intro section */
.about {
  margin-top: 15rem;
  background-color: #f063b826;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 50px;
  align-items: center;
  padding: 0 0.5rem;
}

.about div {
  max-width: 475px;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

/* Features section */
.features {
  margin-top: 8.1rem;
}

.features-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.1rem;
}

.features p {
  max-width: 584px;
  text-align: center;
}

.features-container {
  margin-top: 6.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 3rem;
  justify-content: end;
}
.feature {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.feature h4 {
  font-family: Helvetica;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 31.2px;
  color: #212353;
}

.feature-text-side {
  height: 100%;
  padding: 3rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.5rem;
}

.feature p {
  text-align: start;
  max-width: 220px;
  margin-top: 2rem;
}

.feature-img {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 2.5rem;
  transform: translateY(-50%);
}

.feature button {
  width: fit-content;
  border: none;
  display: flex;
  font-size: 1rem;
  gap: 1rem;
  align-items: center;
  background: none;
  cursor: pointer;
  transition: all 700ms;
  font-family: Avenir;
  font-weight: 800;
  line-height: 25.6px;
  letter-spacing: 0.005em;
}

.feature button:hover {
  transform: translateX(5%);
}

.feature button img {
  width: 18px;
  height: 18px;
}

/* Testimonials section */
.testimonials {
  margin-top: 8.1rem;
  background-color: #9c69e2;
  border-radius: 50px;
  /* max-width: 1120px; */
}

.testimonials-wrapper {
  padding: 6rem;
}

.testimonials h3 {
  color: #ffffff;
}

.testimonials-list {
  display: flex;
  gap: 1.3rem;
  margin-top: 5.5rem;
}

.testimonial {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0px 20px 0px 0px #734daa4d;
  border-radius: 20px;
  border: 1px solid #9c69e2;
}

.testimonial-wrapper {
  display: flex;
  gap: 1.8rem;
  padding: 3.7rem 4.3rem;
}

.testimonial-others {
  min-width: 400px;
  overflow: hidden;
}

.testimonial aside {
  margin-top: 1.3rem;
}

.testimonial img {
  max-width: 90px;
  min-width: 90px;
  max-height: 90px;
  min-height: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial-name {
  font-family: Avenir;
  font-size: 1.125rem;
  font-weight: 900;
  line-height: 28.8px;
  letter-spacing: 0.005em;
  text-align: left;
  color: #212353;
}

.testimonial span {
  font-family: Avenir;
  font-size: 14px;
  font-weight: 500;
  line-height: 22.4px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #9c69e2;
}

.testimonial-text {
  margin-top: 1.5rem;
  line-height: 32.4px;
  width: 385px;
}

.rect div:first-child {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    270deg,
    #ffffff 9.75%,
    rgba(255, 255, 255, 0) 100%
  );
}

.testimonials-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.testimonials-nav aside {
  margin-top: 3.7rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffffff;
}

.circle.active {
  width: 15px;
  height: 15px;
  background-color: #f063b8;
}

.fade {
  opacity: 50%;
}

/* Footer */
footer {
  margin-top: 8.1rem;
  border-top: 2px solid #9b69e244;
  padding: 6.2rem 0;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-top aside:first-child {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-top aside:last-child {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-btn {
  color: #ffffff;
  background-color: #f063b8;
  transition: all 700ms;
}
.footer-btn:hover {
  background-color: #b2307e;
}

.footer-details {
  margin-top: 9.3rem;
  display: flex;
  justify-content: space-between;
}

.footer-address h5 {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-address,
.footer-about,
.footer-help div p {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: Avenir;
  font-size: 1rem;
  font-weight: 500;
  line-height: 28.8px;
  letter-spacing: 0.01em;
  color: #212353;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-socials div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.social {
  background-color: #2123531e;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat {
  background-color: #9b69e233;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-bottom {
  margin-top: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright {
  font-family: Avenir;
  font-size: 12px;
  font-weight: 400;
  line-height: 21.6px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #212353;
}

/* Media queries */
@media (max-width: 1144px) {
body {
  padding: 0 1rem;
}
}

@media (max-width: 1100px) {
  .features-container {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }

  .feature {
    justify-content: center;
    width: 80%;
  }

  .feature-text-side {
    top: -3rem;
    right: 50%;
    transform: translateX(80%);
  }

  .feature-img {
    left: 0;
  }
  
}

@media (max-width: 799px){
  .header-btn {
    visibility: hidden;
  }
  .hero img {
    visibility: hidden;
  }
  
  .hero {
    grid-template-columns: 1fr;
  }

  .about {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
  }
  .feature {
    width: 100%;
  }
  .footer-top {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
  }
  
}

@media (max-width: 550px) {
  .footer-details {
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
  }
}